footer{
    font-size: 90%; 
    font-family: monospace;
}



.title, 
.author, 
.date, 
.terms{
    color: black;
}

.article-meta{
    background-color: transparent;

}

.author{
    font-weight: normal;
}

.date{
    font-weight: normal;
    font-size: smaller;
}

.terms{
    display: none;
}